/* Mixins */

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin btn-reset {
  border: none;
  background: none;
  padding: 0;
}

@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin text-hide {
  font-size: 0;
  line-height: 0;
  color: transparent;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

@mixin element-cover {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
}

@mixin element-100 {
  width: 100%;
  height: 100%;
}

@mixin element-absolute-100 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}

@mixin tags {
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #00ace5;
  }
}

@mixin separator {
  display: flex;
  line-height: 1.09;

  &::after {
    content: '';
    background: url(../img/point-background.svg);
    flex: 1 1 auto;
    margin-left: 15px;
  }
}

@mixin news-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  > .views-row {
    flex: 0 1 separator(100% / 3);
    width: calc(100% / 3);
    padding: 0 10px;
    margin-bottom: 3.4375rem;
    display: flex;
    flex-direction: column;

    @media #{$m-to-2l} {
      flex: 0 1 calc(100% / 2);
      width: calc(100% / 2);
    }

    @media #{$m-to-sm} {
      flex: 0 1 100%;
      width: 100%;
      margin-bottom: 1.875rem;
    }

    &.first {
      flex: 0 1 66.66%;
      width: 66.66%;
      position: relative;

      @media #{$m-to-2l} {
        flex: 0 1 100%;
        width: 100%;
      }

      .views-field-field-image {
        margin: 0;
      }

      .views-field-created {
        display: none;
      }

      img {
        min-width: 100%;
        margin: 0;
      }

      .article-info-wrapper {
        position: absolute;
        bottom: 60px;
        padding: 0 50px;
        width: calc(100% - 20px);

        @media #{$m-to-sm} {
          bottom: 20px;
        }
        
        a {
          font-size: 1.875rem;
          color: $c-white;

          @media #{$m-to-sm} {
            font-size: 1rem;
          }
        }
      }
      .views-field-nothing .article-info-wrapper {
        text-shadow: 0 0 5px black;
      }
    }

    .views-field-field-image {
      margin-bottom: 15px;
    }

    .article-info-wrapper {
      color: #7f7f7f;
      font-weight: 600;

      a {
        font-size: 1.25em;
        display: block;
      }
    }

    .author-name {
      a {
        font-size: 1rem;
        color: #7f7f7f;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          color: #00ace5;
        }
      }
    }

    // .views-field-field-first-name {
    //   display: inline-block;
    //   color: #7f7f7f;
    //   font-weight: 600;
    //   padding-right: 5px;
    // }

    // .views-field-field-last-name {
    //   display: inline-block;
    //   color: #7f7f7f;
    //   font-weight: 600;
    // }

    .views-field-field-tags {
      @include tags;
    }

    .views-field-created {
      color: #7f7f7f;
      margin-top: auto;
    }
  }
}

@mixin content-column {
    .views-row {
      display: flex;
      align-items: center;
      padding: 35px 0;
      border-bottom: 1px solid #e2e2e2;

      @media #{$m-to-sm} {
        align-items: unset;
        flex-direction: column;
      }

      &:last-child {
        border: 0;
      }
    }

    .views-field-field-media-image-fields {
      flex: 0 0 290px;
      @media #{$m-to-sm} {
        flex: 0 0 190px;
      }
    }

    .views-field-nothing {
      flex: 1 1 auto;

      .article-info {
        padding-left: 50px;
        @media #{$m-to-sm} {
          padding-left: 0;
        }
      }
    }

    .views-field-field-tags {
      margin-bottom: 5px;
      @include tags;
    }

    .views-field-title {
      margin-bottom: 1rem;
      font-size: 1.25em;
      display: block;
    }
}