.block-main-page-content {
  article {
    font-size: 1.25rem;
    line-height: 1.65;
    font-weight: 200;
  }
}

.field-tags {
  @include tags;
  
}

.node__meta {
  font-size: 1rem;
  font-weight: 400;
  padding: 35px 0;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  margin-bottom: 2.5rem;

  .node__submitted {
    display: flex;
  }

  .article-views {
    margin-left: auto;
    color: #7f7f7f;

    &:before {
      content: "";
      width: 20px;
      height: 12px;
      display: inline-block;
      margin-right: 10px;
      background: url(../img/article-view.png) no-repeat center;
      background-size: contain;
    }
  }
}

.author-info {
  font-weight: 600;


  + .published-date {
    padding-left: 10px;

    &::before {
      content: '\25CF';
      display: inline-block;
      padding-right: 10px;
      font-weight: 600;
    }
  }
}