@mixin authors {
  a {
    display: flex;
  }

  .views-field-user-picture {
    flex: 0 0 100px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100px;
  }

  .author-name {
    @extend h4;
    align-self: center;
    padding-left: 20px;
    text-decoration: none;
    color: #282828;

    .number-articles {
      font-weight: 400;
      color: #8d8d8d;
      font-size: 16px;
    }
  }
}

.block-views-blockauthors-block-1 {
  background: url(../img/point-background.svg);
  padding-top: 65px;
  padding-bottom: 115px;
  margin-bottom: 125px;

  .views-field-nothing a{
    display: flex !important;
  }

  .content {
    @extend .container;

    .view-wrapper {
      background: #ffffff;
    }
  }
  .block-title {
    line-height: 2.5;
  }

  .block-title:after {
    all: unset;
  }

  .label-wrapper {
    @extend .container;
  }

  .slick-slide {
    padding: 25px;
    /**
    @media #{$m-to-l} {
      width: 366px;
    }

    */
    .grid {
      padding: 0;
      width: 100%;
    }
    
    .slick__slide {
      display: flex;
      align-items: center;
      @include authors;

    }
  }
  .slick__arrow {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: auto;
    left: auto;
    right: 0;
    margin-top: -60px;
    width: 35px;

    .slick-prev {
      width: auto;
      height: 34px;

      &::before {
        content: "\f104";
        font-family: FontAwesome;
        color: #00ace5;
        font-size: 34px;
      }
    }

    .slick-next {
      width: auto;
      height: 34px;
      right: 0;

      &::before {
        content: "\f105";
        font-family: FontAwesome;
        color: #00ace5;
        font-size: 34px;
      }
    }
  }
}

.path-about-us {
  .section {
    padding-right: 0 !important;
    border-right: none !important;
  }

  .view-about-us {
    header {
      margin-bottom: 100px;

      h2 {
        color: grey;
        opacity: 0.3;
        font-weight: bold;
        text-transform: none;
        font-size: xx-large;
        margin-bottom: 10px;
      }

      h3, .title-block {
        text-transform: none;
        font-size: xx-large;
        font-weight: 500;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.25rem;
        text-decoration: none;
      }

      .welcome-block {
        margin-bottom: 75px;

        p {
          color: grey;
        }

        .image-block {
          background: url(../../../../assets/glass.png);
          width: 362px;
          height: 220px;
          float: right;
          margin-left: 10px;
        }
      }

      .our-authors-block {
        text-align: center;

        p {
          color: #7f7f7f;
          font-weight: 600;
          max-width: 550px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .views-infinite-scroll-content-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 50px;
      .views-row {
        margin-bottom: 50px;
        @include authors;
      }
    }
  }
}