.role-author {
  h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
    @include separator;
  }

  .block-main-page-content {
    article {
      &::after {
        content: '';
        display: block;
        height: 21px;
        width: 100%;
        background: url(/themes/custom/connect_theme/dist/assets/point-background.svg);
        margin-top: 0.67em;
      }
    }
  }

  .author-details {
    padding: 30px 0;
    display: flex;
    align-items: center;

    @media #{$m-to-m} {
      flex-wrap: wrap;
    }

    .author-picture {
      border-radius: 50%;

      @media #{$m-to-m} {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
    }

    .author-info {
      margin-left: 20px;

      @media #{$m-to-m} {
        width: 100%;
        text-align: center;
        margin: 0;
      }

      .author-first-last-name {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.7;
        color: black;
        text-decoration: none;
      }

      .number-of-articles {
        font-size: 1rem;
        color: #7f7f7f;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}