.page-node-type-page {
  .layout-main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

  }
  .google-map-field {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
  }
  .map-info-banner-wrapper {
    z-index: 1;
  }
  .map-info-banner-content-wrapper {
    position: relative;
    width: 300px;
    height: 350px;
    top: -25px;
    left: 25%;
    background: white;
    opacity: 0.9;
    color: black;
    @media #{$m-to-m} {
      left: 10px;
    }
  }
  .map-info-banner-content {
    position: absolute;
    margin: 25px;
    padding-top: 9px;

    h2::after {
      content: "";
      display: block;
      margin-top: 25px;
      width: 60px;
      height: 5px;
      background-color: #00ace5;
      font-weight: bold;
      font-size: 24px;
    }
    p {
      font-size: 16px;
      background-position: 0 50%;
      background-repeat: no-repeat;
      padding-left: 25px;
      font-weight: normal;
    }
    .map-info-banner-mail {
      background-image: url(../img/E-MAIL.png);
      color: #00ace5;
    }
    .map-info-banner-location {
      background-image: url(../img/MAP.png);
      background-position: 0 10%;
    }
    .map-info-banner-phone {
      background-image: url(../img/PHONE.png);
    }
  }

  .body-content {
    margin-top: 100px;
    text-align: center;
    h3 {
      font-weight: bold;
      font-size: 42px;
      text-transform: none;
      margin-bottom: 0;
    }
    p {
      margin: 0;
      font-weight: normal;
    }
  }

  form {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media #{$m-to-2l} {
      height: auto;
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 50px;
    }

    textarea {
      padding-bottom: 23px;
    }
    > div {
      width: 250px;
      padding-right: 15px;
      padding-top: 15px;
      @media #{$m-to-2l} {
        width: 32%;
        padding: 0;
      }
      @media #{$m-to-m} {
        width: 100%;
        margin-bottom: 5px;
      }

      input {
        @media #{$m-to-2l} {
          min-width: 100%;
        }
      }
    }
    .js-form-type-textarea {
      width: 745px;
      padding: 0;
      margin-top: 15px;
      @media #{$m-to-2l} {
        width: 100%;
      }
      textarea {
        width: 100%;
      }
    }
    .form-actions {
      align-self: flex-end;
      padding: 0;
      > input {
        margin: 15px 0 0 0;
        font-size: 12px;
      }
      @media #{$m-to-2l} {
        margin-left: auto;
      }
    }
  }
}