form {
  input, textarea {
    border: 1px #bebfb9 solid;
    border-radius: 5px;
    padding: 16px;
    font-weight: 600;
  }

  input:focus, textarea:focus {
    border: none;
    border: 3px solid #00ace5;
    border-radius: 5px;
  }

  input::placeholder ,textarea::placeholder {
    color: #cccccc;
  }

  .form-actions {
    > input {
      padding: 14px;
      width: 100%;
      color: white;
      background-color: #00ace5;
    }
  }
}