.path-user form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  label {
    display: block;
  }
  .form-item {
    margin-top: 25px;
  }
  .form-actions {
    margin-top: 25px;
    width: 250px;
  }
}