.block-views-blockarticles-block-2 {
  @extend .container;
  margin-bottom: 4.375rem;

  .view-wrapper {
    @include news-grid;
    .views-field-created {
      font-weight: 600;
    }
  }
}