.block-views-blockarticles-block-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 125px;

  .content, .label-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  @media #{$m-to-l} {
    min-height: 465px;
  }
  .views-field-nothing {
    @extend .container;

    .field-content {
      display: inline-block;
      position: absolute;
      max-width: 500px;
      top: calc(50% - 150px);
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: #7f7f7f;
      font-size: 1.125rem;
      font-weight: 600;
      padding-right: 5px;

      &:hover {
        color: #00ace5;
      }
    }
  }

  .block-title {
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
    color: #00ace5;
    &::after {
      background: none;
      flex: none;
      margin-left: 0;
    }
  }

  .contextual-region {
    position: static;
  }

  .main-theme-image {
    img {
      float: right;
      @media #{$m-to-xl} {
        max-width: fit-content;
        width: auto;
      }
      @media #{$m-to-l} {
        max-height: 465px;
      }
    }
  }

  .views-field-title {
    margin-bottom: 3.125rem;
    a {
      font-size: 2.5625rem;
      line-height: 1.5;
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @media #{$m-to-s} {
        font-size: 2rem;
      }
    }
  }

  .views-field-field-last-name {
    display: inline-block;
    color: #7f7f7f;
    font-size: 1.125rem;
    font-weight: 600;
    padding-right: 10px;
  }

  .views-field-nothing {
    .views-field-created::before {
      content: '\25cf';
      display: inline-block;
      padding-right: 10px;
    }
  }

  .views-field-created {
    display: inline-block;
    color: #7f7f7f;
    font-weight: 600;
  }
}