#block-connect-theme-main-menu {
  width: 25px;
  height: 25px;
  background: url(../img/menu-mobile-open-mine-shaft.svg) no-repeat;
  background-position: center;
  &:hover {
    cursor: pointer;
  }

  .menu {
    margin: 0;
    padding: 45px;
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    height: calc(100vh - 35px);
    width: 70%;
    max-width: 360px;
    background: black;
    z-index: 100;
    left: -400px;
    bottom: 0;
    transition: all .3s;

    @media #{$m-to-m} {
      height: 100vh;
    }

    @media #{$m-to-s} {
      width: 100%;
    }
    .first-child {
      border: none;
    }

    &--simple-mega-menu {
      &:before {
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0;
        cursor: pointer;
        transition: all .3s;
      }
    }

    .menu-header {
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      color: #48a9e4;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .social-media-links {
      &--platforms {
        display: flex;
        justify-content: space-between;
        li {
          position: relative;
          height: 32px;
          width: 32px;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            line-height: 1.3;
            background: #fff;
            opacity: .2;
            border-radius: 20px;
          }
        }

      span {
        opacity: .7;
      }

      .fa-lg {
        font-size: .97em;
        line-height: inherit;
        vertical-align: middle;
        }
      }
    }

    > li {
      border-top: 1px solid grey;
      padding-top: 12px;
      padding-bottom: 12px;

      a {
        font-size: initial;
        color: white;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    &:first-child {
      border: none;
    }

    .menu-header-close-button {
      display: inline-block;
      height: 15px;
      width: 15px;
      cursor: pointer;
      background: url(../img/close.png) no-repeat center;
      background-size: cover;
    }

    .menu-item {
      &--megamenu {
        border: none;
        text-align: center;
        align-self: unset;
        margin-top: auto;

        @media #{$m-to-s} {
          padding-top: 0px;
        }

        & > a {
          font-size: 12px;
          line-height: 2;
          letter-spacing: 0.3px;
          opacity: 0.4;
        }
      }
    }
  }


  &.is-open {
    .menu {
      left: 0;

      &--simple-mega-menu {
        &:before {
          position: fixed;
          opacity: .7;
        }
      }
    }
  }

  .hamburger-switch {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 45px;
    right: 45px;
    background: white;
  }
}