.block-views-blockarticles-block-7 {
  @extend .container;
  margin-bottom: 4.375rem;

  .views-infinite-scroll-content-wrapper {
    @include news-grid;
    .views-field-title a {
      font-size: 1.25em;
      display: block;
    }
  }
}

.pager {
  @include list-reset;
}
