.path-search {
  h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .search-view {
    @extend .container;
    margin-bottom: 4.375rem;
    margin-top: 100px;
    position: relative;
    @media #{$m-to-m} {
      margin-top: 150px;
      padding: 0;
    }

    header .view-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .views-row {
        max-width: 19%;
        @media #{$m-to-xl} {
          max-width: 33%;
        }
        @media #{$m-to-m} {
          max-width: 50%;
        }

        span {
          text-transform: uppercase;
          color: #666666;
          font-weight: 600;
          font-size: small;
          cursor: pointer;
          &.is-active {
            color: #00ace5;
          }
        }
      }
      .views-row div:after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: #666666;
        margin: 0 7px 3px 7px;
      }
      .views-row:last-child div:after {
        display: none;
      }
    }
    .views-infinite-scroll-content-wrapper {
      @include content-column;
    }
  }

  .layout-main-wrapper {
    @extend .container;
    transition: margin-top 0.2s;
  }

  .layout-main {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    @media #{$m-to-sm} {
      padding-bottom: 0;
    }

    #sidebar-first {
      flex: 1 0 430px;
      order: 2;
      padding-left: 60px;

      @media #{$m-to-xl} {
        display: none;
      }
    }

    main {
      flex: 1 1 710px;
      order: 1;
      width: 100%;

      .js-pager__items, .views-infinite-scroll-content-wrapper {
        padding-right: 60px;
        border-right: 1px solid #e2e2e2;

        @media #{$m-to-2l} {
          padding-right: 0;
          border-right: 0;
        }
      }
    }
  }

  .views-exposed-form {
    display: flex;
    position: absolute;
    top: -85px;
    width: 1120px;

    @media #{$m-to-xl} {
      width: calc(100% - 30px);
    }

    @media #{$m-to-m} {
      left: 0;
      top: -140px;
      width: 100%;
      flex-wrap: wrap;
    }

    .form-item {
      flex: 1 1 auto;
      input {
        border-radius: 5px;
        width: 100%;
        border: none;
        padding: 22px;
        font-weight: 600;
        background: #f1f1f1;
        color: #666666;
      }
      input::placeholder {
        color: #aaaaaa;
        text-transform: uppercase;
      }
      .form-item-tags {
        display: none;
      }
    }
    .form-item-tags {
      display: none;
    }
    .form-actions {
      .button {
        border-radius: 5px;
        color: white;
        border: none;
        padding: 22px;
        width: 318px;
        margin-left: 25px;
        background: #00ace5;
        @media #{$m-to-m} {
          width: 100%;
          margin: 0;
          margin-top: 7.5px;
        }
      }
      @media #{$m-to-m}{
        width: 100%;
      }
    }

    label {
      display: none;
    }

    .search-help-link, .search-advanced {
      display: none;
    }
  }

  .block-empty-ads {
    margin-top: 120px;
  }
}

.search-lens {
  display: block;
  background: url("../img/icon-search-black.svg") no-repeat;
  width: 20px;
  height: 20px;
}