.block-views-blockarticles-block-5 {
  .views-row {
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1.5rem;

    .views-field-field-image {
      margin-bottom: 1.5rem;
      display: none;
    }

    &:first-child {
      .views-field-field-image {
        display: block;
      }
    }

    .views-field-field-tags {
      margin-bottom: 0.625rem;
      @include tags;
    }

    .views-field-title {
      margin-bottom: 1rem;
      font-size: 1.25em;
      display: block;
    }

    .views-field-created {
      color: #7f7f7f;
      margin-bottom: 1.25rem
    }
  }
}

.block-empty-ads {
  background: url(../img/banner.png);
  width: 368px;
  height: 640px;
}
