.taxonomy-term-view {
  @extend .container;
  margin-bottom: 4.375rem;

  .views-infinite-scroll-content-wrapper {
    @include news-grid;
  }
}

#block-connect-theme-page-title {
  @extend .container;
  @media #{$m-to-m} {
    padding: 0;
  }
  h1 {
    display: flex;
    line-height: 1.09;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  h1::after {
    content: '';
    background: url(../img/point-background.svg);
    flex: 1 1 auto;
    margin-left: 15px;
  }
}