/* Colors */
$c-white: #fff;
$c-black: #000;
$c-mine-shaft: #222;
$c-mine-shaft-lighter: #333;

$c-positive: #6cd779;
$c-positive-text: #53a65d;
$c-positive-bg: #e9f9ec;
$c-notice: #338fff;
$c-notice-text: #2c7bdb;
$c-notice-bg: #e1eefe;
$c-warning: #feb444;
$c-warning-text: #e09d38;
$c-warning-bg: #fff4e4;
$c-error: #ff6977;
$c-error-text: #de5965;
$c-error-bg: #ffe9eb;
$c-twitter: #1da1f2;

/* Fonts */
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$f-montserrat: 'Montserrat', sans-serif;
$f-poppins: 'Poppins', sans-serif;

/* Base variables */
$main-font: $f-poppins;
$main-font-size: 16px;
$main-line-height: 1.5;
$heading-font: $f-poppins;
$heading-line-height: 1.1;
$main-bg: $c-white;
$main-text-color: $c-black;
$secondary-text-color: $c-white;
$link-color: $main-text-color;
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

/* Media variables */
$m-3xl: screen and (min-width: 1921px);
$m-to-xxl: screen and (max-width: 1920px);
$m-from-xxl: screen and (min-width: 1280px);
$m-xxl: screen and (min-width: 1280px) and (max-width: 1920px);
$m-to-xl: screen and (max-width: 1279px);
$m-from-xl: screen and (min-width: 1024px);
$m-xl: screen and (min-width: 1024px) and (max-width: 1279px);
$m-to-2l: screen and (max-width: 1023px);
$m-from-2l: screen and (min-width: 860px);
$m-2l: screen and (min-width: 860px) and (max-width: 1023px);
$m-to-l: screen and (max-width: 859px);
$m-from-l: screen and (min-width: 768px);
$m-l: screen and (min-width: 768px) and (max-width: 859px);
$m-to-m: screen and (max-width: 767px);
$m-from-lm: screen and (min-width: 600px);
$m-lm: screen and (min-width: 600px) and (max-width: 767px);
$m-to-sm: screen and (max-width: 600px);
$m-sm: screen and (min-width: 480px) and (max-width: 600px);
$m-from-m: screen and (min-width: 480px);
$m-m: screen and (min-width: 480px) and (max-width: 768px);
$m-to-s: screen and (max-width: 479px);
$m-from-s: screen and (min-width: 321px);
$m-s: screen and (min-width: 321px) and (max-width: 479px);
$m-xs: screen and (max-width: 320px);

$m-retina2x: screen and (min-resolution: 120dpi), screen and (min-resolution: 1.25dppx);
