/* ==========================================================================
 Base styles
 ========================================================================== */
/* stylelint-disable selector-max-universal  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stylelint-enable selector-max-universal */

html {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-text-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
  position: relative;
  padding-bottom: 270px;
  min-height: 100vh;
}

body {
  background: $main-bg;
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

img {
  height: auto;
  width: 100%;
}

textarea {
  resize: vertical;
}

button,
.button,
input[type="submit"] {
  cursor: pointer;
  border: 0;
  display: block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  background: #f2f2f2;
  color: #8d8d8d;
  transition: all .3s;

  &:hover {
    background: #00ace5;
    color: #ffffff;
  }
}

