$container-gutter: 15px;
$container-width: calc(1140px + #{$container-gutter} * 2);
$col-gutter: $container-gutter;

.clearfix {
  @include clearfix;
}

.container {
  display: block;
  width: auto;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @include clearfix;

  display: block;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

.col {
  display: block;
  float: left;
  padding-right: $col-gutter;
  padding-left: $col-gutter;
}

.layout-main {
  padding-top: 50px;
}

.path-frontpage,
.page-node-type-page {
  .section {
    padding-right: 0;
    border-right: none;
  }
}

body:not(.page-node-type-page):not(.path-frontpage):not(.path-search),
.path-typography {
  .layout-main-wrapper {
    @extend .container;
    transition: margin-top 0.2s;
  }

  .layout-main {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    @media #{$m-to-sm} {
      padding-bottom: 0;
    }
    #sidebar-first {
      flex: 1 0 430px;
      order: 2;
      padding-left: 60px;

      @media #{$m-to-2l} {
        display: none;
      }
    }

    main {
      flex: 1 1 710px;
      order: 1;
      width: 100%;

      .section {
        padding-right: 60px;
        border-right: 1px solid #e2e2e2;

        @media #{$m-to-2l} {
          padding-right: 0;
          border-right: 0;
        }
      }
    }
  }
}

.ajax-progress {
  margin-left: 49%;
}