.messages {
  $color: $c-mine-shaft;
  $horizontal-padding: 20px;
  $vertical-padding: 13px;
  $container-gutter: 20px;

  position: fixed;
  z-index: 9999;
  left: $container-gutter;
  right: $container-gutter;
  bottom: $container-gutter;
  background: rgba($color, 0.15);
  border: 1px solid $color;
  color: $color;
  border-radius: 4px;
  padding: $vertical-padding ($horizontal-padding * 2.5) $vertical-padding $horizontal-padding;
  font-size: 16px;
  line-height: 1.625;
  box-shadow: none;
  max-height: 30vh;
  overflow: auto;

  .visually-hidden {
    top: 0;
  }

  // @include media-breakpoint-up($breakpoint-tablet-up) {
  //   left: $container-gutter-tablet;
  //   bottom: $container-gutter-tablet;
  //   min-width: 475px;
  //   max-width: 100%;
  //   right: auto;
  // }

  // @include media-breakpoint-up($breakpoint-desktop-up) {
  //   left: $container-gutter-desktop;
  //   bottom: $container-gutter-desktop;
  //   max-width: 50vw;
  // }

  &::before {
    font-weight: 700;
  }

  &__close {
    display: none;
    position: absolute;
    right: $horizontal-padding;
    top: $vertical-padding;
    cursor: pointer;
  }

  &--status {
    background: $c-positive-bg;
    border-color: $c-positive;
    color: $c-positive-text;

    &::before {
      content: 'Well done!';
    }
  }

  &--warning {
    background: $c-warning-bg;
    border-color: $c-warning;
    color: $c-warning-text;

    &::before {
      content: 'Warning!';
    }
  }

  &--error {
    background: $c-error-bg;
    border-color: $c-error;
    color: $c-error-text;

    &::before {
      content: 'Oh snap!';
    }
  }
}
