.site-footer {
  clear: both;
  position: relative;
  margin-bottom: -270px;

  .site-footer__top {
    background: #232323;
    padding: 35px 0;

    > div {
      @extend .container;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media #{$m-to-m} {
        flex-wrap: wrap;
        flex-direction: column;
      }

      .block-footer-logo {
        @media #{$m-to-m} {
          text-align: center;
          margin-bottom: 15px;
        }
      }
    }

    .block-footer-first {
      @media #{$m-to-m} {
        width: 100%;
        text-align: center;
      }
    }

    a {
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      margin-right: 55px;

      @media #{$m-to-m} {
        display: block;
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px;
      }

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  .site-footer__bottom {
    padding: 30px 0;
    background: #000000;
    color: #8d8d8d;
    > div {
      width: auto;
      max-width: calc(1140px + 15px * 2);
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      @media #{$m-to-m} {
        display: block;
      }
    }
    .square-twitter {
      color:#63acfd;
    }
    .square-facebook {
      color:#4048a1;
    }
    .square-linkedin {
      color:#016bfd;
    }
    .square-youtube {
      color:#ff423c;
    }
    .content {
      @media #{$m-to-m} {
        width: auto;
        text-align: center;
      }
    }
    .block-social-media-links {
      margin-left: auto;
    }
    .block-social-media-links ul li:last-child {
      padding-right: 0;
    }
  }
}

#block-footer {
  ul li {
    display: inline;
    margin-left: 30px;
    @media #{$m-to-m} {
      margin: 0;
    }
  }
  ul:not(.contextual-links) {
    display: flex;
    @media #{$m-to-m} {
      margin: 0;
      padding: 0;
      flex-direction: column;
    }
  }
}

#block-footerlogo {
  height: fit-content;
}

.fa-youtube-play, .fa-youtube, .fa-linkedin, .fa-facebook, .fa-twitter, .fa-vk, .fa-instagram{
  color: #FFFFFF;
}
