.top {
  max-height: 35px;
  background: #1c1c1c;

  .views-row {
    opacity: 0;
    &.slick-active {
      opacity: 1;
    }
  }

  > div {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;

    &::after {
      content: none;
    }

    @media #{$m-to-m} {
      justify-content: center;
    }
  }

  .block-views-blockarticles-block-1 {
    width: 50%;
    display: flex;
    flex: 1 1 auto;

    @media #{$m-to-m} {
      display: none;
    }

    .label-wrapper {
      flex: 0 0 auto;
    }

    .block-title {
      display: inline-block;
      font-size: 12px;
      line-height: 1.6;
      color: #00ace5;
      margin-bottom: 0;
      text-transform: uppercase;
      padding-right: 15px;
      border-right: 3px solid #00ace5; 
    }

    > .content {
      display: inline-block;
      flex: 0 1 auto;
      width: calc(100% - 130px);
      
      a {
        text-decoration: none;
        font-size: 12px;
        line-height: 2;
        color: #7f7f7f;
        font-weight: 500;
      }
    } 
    
    .slick-slide {
      padding-left: 10px;
    }

    .slick-slider {
      margin-right: 15px;
    }

    .draggable {
      min-height: 20px;
      width: calc(100% - 45px);
    }

    .slick-arrow {
      position: absolute;
      height: 22px;
      width: 22px;
      font-size: 0;
      line-height: 0;
      top: 50%;
      display: block;
      width: 20px;
      height: 20px;
      padding: 0;
      transform: translate(0, -50%);
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;
    }
    .slick-next,
    .slick-prev {
      &:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .75;
        background: url(../img/arrow.svg);
        background-size: cover;
      }
    }

    .slick-prev {
      left: auto;
      right: 25px;
      transform: translateY(-50%) rotate(180deg);
    }

    .slick-next {
      right: 0;
    }
  }

  .block-social-media-links {
    a {
      color: #7f7f7f;
      text-decoration: none;
      margin-left: 20px;

      &:hover {
        color: #00ace5;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}

.header {
  background: white;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);

  #block-connect-theme-main-menu {
    > ul {
      display: none;
    }
  }

  > .section {
    >  div {
      @extend .container;

      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 100px;
      transition: all .3s;
    }
  }

  #search-block-form {
    
    .form-item {
      display: none;
    }

    .form-actions {
      input {
        background: url(../img/icon-search-black.svg) no-repeat;
        border: 0;
        font-size: 0;
        width: 20px;
        height: 20px;
        padding: 0;
      }
    }
  }
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

#header {
  .block-site-branding {
    @media #{$m-to-s} {
      width: 50%;
    }
  }
}