h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 700;
  line-height: 1.557;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
}

a:hover {
  color: #00ace5;
}

.block-title {
  @include separator;
}

.views-field-created {
  color: #7f7f7f;
  opacity: 0.7;
}

a, label {
  font-weight: bold;
  line-height: 1.7;
  color: black;
  text-decoration: none;
  transition: all .3s;
}
