{#
/**
 * @file
 * Connect theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% if page.sidebar_first %}
    {% set page_attributes = attributes.addClass('sidebar') %}
{% endif %}
<div id="page-wrapper" {{ attributes }}>
    <div id="page">
        {% if page.top %}
            <div id="top" class="column top">
                {{ page.top }}
            </div>
        {% endif %}
        <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }}">
            <div class="section layout-container clearfix">
                {{ page.primary_menu }}
                {{ page.header }}
            </div>
        </header>
        <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">
            <div id="main" class="layout-main clearfix">
                {% if page.sidebar_first %}
                    <div id="sidebar-first" class="column sidebar">
                        <aside class="section" role="complementary">
                            {{ page.sidebar_first }}
                        </aside>
                    </div>
                {% endif %}
                <main id="content" class="column main-content" role="main">
                    <section class="section">
                        <a id="main-content" tabindex="-1"></a>
                        {% if page.view_title %}
                            <h3 class="block-title">{{ page.view_title }}</h3>
                        {% endif %}
                        {{ page.content }}
                    </section>
                </main>
            </div>
        </div>
        <footer class="site-footer">
            <div class="layout-container">
                {% if page.footer_first %}
                    <div class="site-footer__top clearfix">
                        {{ page.footer_first }}
                    </div>
                {% endif %}
                {% if page.footer_second %}
                    <div class="site-footer__bottom">
                        {{ page.footer_second }}
                    </div>
                {% endif %}
            </div>
        </footer>
    </div>
</div>