{#
/**
 * @file
 * Connect theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}

<article{{ attributes }}>
    {% if 'author' in user.getroles  %}
        <h1>Authors</h1>
        <div class="author-details">
            <div class="author-picture">
                <img src="{{ user.user_picture.0.entity.uri.value | image_style('author_profile_image') }}">
            </div>
            <div class="author-info">
                <div class="author-first-last-name">{{ user.field_first_name.value }} {{ user.field_last_name.value }} </div>
                <div class="number-of-articles"> {{ number_of_articles }} Articles </div>
            </div>
        </div>
    {% else %}
        {% if content %}
            {{- content -}}
        {% endif %}
    {% endif %}
</article>